{% extends '_templates/base.njk' %}

{% block page_title %}Austin Spots{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1 class="centered-heading">Best Views and Sights in Austin!</h1>
  <p>Austin, Texas is a hub of art, culture, food, friends! From 1839, when the city was born, to now with it's 960,000 residents and plenty of places and cuisine to explore, these are the top three best landmarks and restaurants in Austin.</p>
  <h2>Landmarks and Restraunts</h2>
  <p>Have a look through these pages to find more about these great locations!</p>
  <div class="row">
    {% for landmark in landmarks.landmarks %}
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
          <img src="img/{{ landmark.slug }}.jpg" class="card-img-top" alt="{{ landmark.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ landmark.name }}</h5>
            <p class="card-text">{{ landmark.location }}</p>
            <a href="landmarks/{{ landmark.slug }}.html">More info!</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <h2>Restraunts</h2>
  <p>Have a look through these pages to find more about these great locations!</p>

<div class="row">
    {% for restaurant in restaurant.restaurants %}
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
          <img src="img/{{ restaurant.name }}.jpg" class="card-img-top" alt="{{ restaurant.name }">
          <div class="card-body">
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <p class="card-text">{{ restaurant.category }}</p>
            <a href="{{ restaurant.slug }}"></a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
{% endblock %}