{% extends '_templates/base.njk' %}

{% block page_title %}Restraunts{% endblock %}

{% block page_description %}Top Landmarks in Austin{% endblock %}

{% block content %}
<article class="container">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <h1 class="centered-heading">Favorite Restaurants in Austin!</h1>
  <p class="centered-heading">These are the top most visited restraunts in Austin, sure to make every visit tasty!</p>

<div class="row">
    {% for restaurant in restaurant.restaurants %}
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
          <img src="img/{{ restaurant.image }}" class="card-img-top" alt="{{ restaurant.image }}">
          <div class="card-body">
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <p class="card-text">{{ restaurant.category }}</p> 
            <p class="card-text" class="centered-headline">{{ restaurant.address }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</article>
{% endblock %}

  
